*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    color: #ffffff;
    min-height: 100vh; 
    font-family: 'Poppins', sans-serif;
    background-color:#2F4156 ;
}

@media (max-width:853px){
    .card {
        width: 25px;
        height: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 800;
        background-color: #2F4156;
        margin: 5px;
        text-align: center;
        padding: 20px;
        transition: transform 0.5s ease;
        transform-style: preserve-3d;
        cursor: pointer;
        border-radius: 10px;
    }
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        gap: 15px;
        border-radius: 50px 0px 50px 0px;
        background-color: #6183aa;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    h1 {
        font-size: 20px;
        padding-top:15px;
        color: #faeee6;
        font-weight: 800;
        text-align: center;
        margin: 0px;
    }
    .opp{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .opp p{
        margin-top: 18px;
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 13px;
    }
    .logo{
        width: 70%;
    }
    .head{
        width:50% ;
        
    }
    .head p{
        font-size: 20px;
        font-weight: 700;
        color: #F5EFEB;
        margin-top: 10px;
    }
    .img-logo{
        width: 100px;
        margin-left: 20px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2F4156;
    }
    .icons{
        width: 25%;
    }
    .icons i{
        display: none;
    }
    .ham{
        display: block;
        font-size: 20px;
        padding-right: 30px;
        cursor: pointer;
    }
    .card{
        width: 60px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 800;
        background-color: #2F4156;
        margin: 5px;
        text-align: center;
        padding: 20px;
        transition: transform 0.5s ease;
        transform-style: preserve-3d;
        cursor: pointer;
        border-radius: 10px;
    }
    
    .card::after{
        content: " ";
        position: absolute;
        inset: 0;
        background-color: #2F4156;
        transform: rotateY(0deg);
        backface-visibility: hidden;
        border-radius: 10px;
    }
    .flipped{
        background-color: #ffffff;
        transform: rotateY(0deg);
        color: #2F4156;
        border-radius: 10px;
    }
    .flipped::after{
        transform: rotateY(180deg);
    }
    .game{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        perspective: 1000px;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
}
@media (min-width:854px) and (max-width:959px) {
    div{
        width: 100%;
    }
    div h1{
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
    
    }
    
    div a{
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 70%;
    }
    .head{
        width:50% ;
        
    }
    .head p{
        font-size: 20px;
        font-weight: 700;
        color: #F5EFEB;
        margin-top: 10px;
    }
    .img-logo{
        width: 100px;
        margin-left: 20px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2F4156;
    }
    .icons{
        width: 25%;
    }
    .icons i{
        display: none;
    }
    .ham{
        display: block;
        font-size: 20px;
        padding-right: 30px;
        cursor: pointer;
    }
    .logo{
        width: 70%;
    }
    .head{
        width:60% ;
        
    }
    .head p{
        font-size: 20px;
        font-weight: 700;
        color: #F5EFEB;
        margin-top: 10px;
    }
    .img-logo{
        width: 100px;
        margin-left: 20px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2F4156;
    }
    .container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        gap: 20px;
        border-radius: 50px 0px 50px 0px;
        background-color: #6183aa;
        padding: 20px;
        margin-bottom:20px;
    }
     h1 {
        font-size: 30px;
        padding-top:15px;
        color: #faeee6;
        font-weight: 800;
        text-align: center;
        margin: 0px;
    }
    .opp{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .opp p{
        margin-top: 30px;
        margin-bottom: 0px;
        font-weight: 300;
    }
    button{
        border: none;
        width: 200px;
        height: 50px;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #2F4156;
        border-radius: 0px 15px 0px 15px;
    }
    button:hover{
        background-color: #2F4156;
        color: white;
    }
    .game{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        perspective: 1000px;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
    .card{
        width: 60px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 800;
        background-color: #2F4156;
        margin: 5px;
        text-align: center;
        padding: 20px;
        transition: transform 0.5s ease;
        transform-style: preserve-3d;
        cursor: pointer;
        border-radius: 10px;
    }
    
    .card::after{
        content: " ";
        position: absolute;
        inset: 0;
        background-color: #2F4156;
        transform: rotateY(0deg);
        backface-visibility: hidden;
        border-radius: 10px;
    }
    .flipped{
        background-color: #ffffff;
        transform: rotateY(0deg);
        color: #2F4156;
        border-radius: 10px;
    }
    .flipped::after{
        transform: rotateY(180deg);
    }
}
@media (min-width:961px){
    .logo{
        width: 70%;
    }
    .head{
        width:60% ;
        
    }
    .head p{
        font-size: 20px;
        font-weight: 700;
        color: #F5EFEB;
        margin-top: 10px;
    }
    .img-logo{
        width: 100px;
        margin-left: 20px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2F4156;
    }
    .ham{
        display: none;
    }
    .icons{
        width: 25%;
    }
    .icons i{
        margin: 0 10px;
        color: #F5EFEB;
        cursor: pointer;
        margin-right: 20px;
    }
    .container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        gap: 20px;
        border-radius: 50px 0px 50px 0px;
        background-color: #6183aa;
        padding: 20px;
        margin-bottom:20px;
    }
     h1 {
        font-size: 30px;
        padding-top:15px;
        color: #faeee6;
        font-weight: 800;
        text-align: center;
        margin: 0px;
    }
    .opp{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .opp p{
        margin-top: 30px;
        margin-bottom: 0px;
        font-weight: 300;
    }
    button{
        border: none;
        width: 200px;
        height: 50px;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #2F4156;
        border-radius: 0px 15px 0px 15px;
    }
    button:hover{
        background-color: #2F4156;
        color: white;
    }
    .game{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        perspective: 1000px;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
    .card{
        width: 60px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 800;
        background-color: #2F4156;
        margin: 5px;
        text-align: center;
        padding: 20px;
        transition: transform 0.5s ease;
        transform-style: preserve-3d;
        cursor: pointer;
        border-radius: 10px;
    }
    
    .card::after{
        content: " ";
        position: absolute;
        inset: 0;
        background-color: #2F4156;
        transform: rotateY(0deg);
        backface-visibility: hidden;
        border-radius: 10px;
    }
    .flipped{
        background-color: #ffffff;
        transform: rotateY(0deg);
        color: #2F4156;
        border-radius: 10px;
    }
    .flipped::after{
        transform: rotateY(180deg);
    }
}